.Display {
  height: 100px;
  line-height: 100px;
  border: 8px solid #ccc;
  border-radius: 24px;
  background-color: #000;
  color: #f1e44b;
  font-size: 80px;
}

.Current-floor {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.Arrow {
  margin: 0 16px;
  display: inline-block;
  color: #f1e44b;
  font-size: 72px;
}
