.Control-panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 216px;
  min-width: 216px;
  font-family: "Lexend Giga", sans-serif;
}

.Controller {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap-reverse;
  justify-content: space-between;
  padding: 16px;
  gap: 8px;
  border: 8px solid #ccc;
  border-radius: 24px;
  background-color: #333;
}
