.Button {
  width: 80px;
  height: 80px;
  font-size: 48px;
  border: none;
  border-radius: 16px;
  background-color: #fff;
  color: #000;
  font-family: inherit;
}

.Button-open:active,
.Button-close:active {
  background-color: #f1e44b;
}

.Icon-space {
  display: inline-block;
  width: 8px;
}

.Button-selected {
  background: #f1e44b;
}
